# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.spec

# Flutter/Android
**/build/
**/.dart_tool/
**/.flutter-plugins*
**/.packages
**/pubspec.lock
**/android/.gradle/
**/android/local.properties
**/ios/Pods/

# Logs
*.log
